@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in-top {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15%);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

#posts {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }

#posts.visible {
opacity: 1;
transform: translateY(0);
}


.animate-fade-in {
  animation: fade-in 2s ease-in-out;
}

.animate-slide-in-top {
  animation: slide-in-top 2.5s ease-out;
}

.animate-bounce {
  animation: bounce 1.5s infinite;
}

.animate-pulse {
  animation: pulse 1.5s infinite;
}
